/target/
/target-codex/
/.agents/
/temp_*
/tmp_*
/debug_*.gl
/glitch.ll
/run_*.log
/out.c
/*.nupkg
/*.c
[Bb]in/
[Oo]bj/
.vs/
.idea/
*.user
editor/vscode/glitching-language-support/node_modules/
editor/vscode/glitching-language-support/*.vsix
external/csharp_lexer/target/
